$title-font-size: 6.8rem;

$p-font: 1.25rem;

$subtitle-font-weight: 400;

$subtitle-font-size: 2.8rem;

$subtitle-letter-space: 2px;

$subtitle-text-transform: uppercase;

@mixin subtitle-config($font-size, $letter-spacing, $font-weight, $text-tansform){
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    text-transform: $text-tansform;

}
